<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="demo">
      <h1>Get a beers</h1>
      <h2>Random beer</h2>
      <button @click="fetchRandomBeer">Get a random beer</button>
      <div v-for="beer in randomBeers">
        <h3>{{ beer.name }}</h3>
        <p>{{ beer.description }}</p>
        <img v-if="beer.image_url" :src="beer.image_url" alt="beer" />
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const apiURL = "https://api.punkapi.com/v2/beers/";

      Vue.createApp({
        data() {
          return {
            randomBeers: [],
          };
        },

        created: function () {
          this.fetchRandomBeer();
        },

        methods: {
          async fetchRandomBeer() {
            try {
              const response = await axios.get(apiURL + "random");
              this.randomBeers = response.data;
            } catch (error) {
              console.error("Error fetching random beers", error);
            }
          },
        },
      }).mount("#demo");
    </script>
  </body>
</html>
